footer {
    text-align: center;
    padding: 20px;
    color: #06B2BB;
    font-family: 'Courier New', monospace;
}

body {
    background-color:#f4d9c1;
}

.logo {
    position: relative;
    text-align: center;
}


.pretchange, .pretzel{
    position: absolute;
    transform: translate(-57%, -110%);
    transition: opacity 0.1s ease;
}

.pretchange {
    opacity:0;
}

.logo:hover .pretchange {
    opacity:1;
}

.logo:hover .pretzel {
    opacity: 0;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-top: 130px;
}
  
.nav-list a {
    margin: 12px;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    background-color: #06B2BB;
    color: rgb(255, 255, 255);
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

.nav-list a:hover {
    background-color: #F78828;
}

p.about-text {
    font-size: 18px;
    font-family: 'Courier New', monospace;
    text-align: center;
}

ul, footer{
    font-size: 15px;
    font-family: 'Courier New', monospace;
}

p {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.course-list, .skill-list {
    font-size: 18px;
    font-family: 'Courier New', monospace;
}

.page-title {
    text-align: center;
    font-family: 'Courier New', monospace;
}

.about-text, p.blog-msg  {
    text-align: center;
    margin: 12px auto;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    background-color: #fa5457da;
    color: white;
    padding: 20px 32px;
    display: block; 
    font-size: 20px;
    border-radius: 12px;
    border-style: dashed;
    width: 50%;
}

p.blog-msg {
    width: 20%;
}

img {
    border: dashed white;
    border-radius: 10px;
    padding: 5px;
}

.about-image{
    text-align: center;
    margin-bottom: -40px;
}


.check-link {
    margin: 12px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    
}

.section1, .section2{
    margin: 12px auto;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    color: white;
    padding: 20px 32px;
    display: block; 
    font-size: 20px;
    border-radius: 12px;
    border-style: dashed;
    width: 50%;
}

.section2{
    background-color: #fa5457da;
}

.section1{
    background-color: #fa5457a1;
}


.entry-title, .section-title {
    text-align: center;
}

.resume-link {
    margin: 12px auto;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    color: white;
    padding: 20px 32px;
    display: block; 
    font-size: 20px;
    border-radius: 12px;
    border-style: dashed;
    width: 20%;
    text-align: center;
    background-color: #F78828;
    font-size: 18px;
}


/*#submit, #label {
    margin: 12px auto;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    color: rgb(255, 255, 255);
    padding: 20px 32px;
    display: block; 
    font-size: 20px;
    border-radius: 12px;
    border-style: dashed;
    text-align: center;
    background-color: #fa5457da;
    font-size: 18px;
    border-color: white;
}

#submit {
    background-color: #F78828;
}
#submit:hover{
    background-color: #f78928c4;
}

#label {
    width:10%;
}

.formpart {
    margin: 12px auto;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    color: rgb(0, 0, 0);
    padding: 20px 32px;
    display: block; 
    font-size: 20px;
    border-style: none;
    border-radius: 12px;
    text-align: center;
    background-color: #ffffff;
    font-size: 18px;
    resize: vertical;
}*/

.contactinfo {
    margin: 12px auto;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    color: rgb(255, 255, 255);
    padding: 20px 32px;
    display: block; 
    font-size: 20px;
    border-radius: 12px;
    border-style: dashed;
    text-align: center;
    background-color: #fa5457da;
    font-size: 18px;
    border-color: white;
    width: 30%;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    margin: 20px auto;
    width: 80%; 
    background-color: #fa5457da;
    border-style: dashed;
    border-radius: 12px;
    color: white;
    font-family: 'Courier New', monospace;
    font-size: 18px;
}

.port-pic {
    width: 40%;
}

.port-pic img {
    max-width: 100%; 
    border-radius: 12px;
    border: dashed 2px white;
    padding: 10px;
}

.project-details {
    width: 55%; 
    padding-left: 20px;
    text-align: center;
}


.check-link {
    text-decoration: none;
    color: white;
    margin: 12px auto;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    color: rgb(255, 255, 255);
    padding: 20px 32px;
    display: block; 
    font-size: 20px;
    border-radius: 12px;
    border-style: dashed;
    text-align: center;
    background-color: #F78828;
    font-size: 18px;
    border-color: white;
    width: 20%;
}

